<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Examen P1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quote</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ng-container *ngIf="randomquote;else loading">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Random Quote:
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <strong>{{randomquote.quote}}</strong>
          <br>
          Autor: {{randomquote.author}}
        </ion-card-content>

      </ion-card>
    </ng-container>
  </ion-content>

  <ng-template #loading>
    <ion-spinner name="crescent">
    </ion-spinner>
  </ng-template>

</ion-content>

